<div class="game-box">
  <p>Kolej gracza: {{whoPlaysNow}} </p>
  <div class="game-board">
  <div class="game-row" *ngFor="let row of tiles;index as rowIndex">
    <button class="cell" *ngFor="let cell of row;index as colIndex" (click)="cellClicked(rowIndex,colIndex)" ><div class="cell-text">{{cell}}</div></button>
  </div>
</div>
<div *ngIf="winner">
  <p>Wygrał gracz: {{ winner }}</p>
  <button class="btn" (click)="newGamePressed()">Zagraj ponownie</button>
</div>
<div *ngIf="isDraw && !winner">
  <p>Remis!</p>
  <button class="btn" (click)="newGamePressed()">Zagraj ponownie</button>
</div>
</div>

